<div class="row pt-5">
    <div class="col-md-5 mx-auto">

        <div class="card rounded-1">

            <div class="card-header">
                <h3 class="mb-0">Register </h3>
            </div>
            <div class="card-body">

                <div fxLayout="column" *ngIf="alert" class="alert alert-warning alert-dismissible fade show"
                    role="alert" style="text-align: center;align-items: center;">
                    <strong style="width: 300px;">Success!!</strong> Password changed successfully.
                    <button (click)="closeAlert()" type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div fxLayout="column" *ngIf="error" class="alert alert-warning alert-dismissible fade show"
                    role="error" style="text-align: center;align-items: center;color:crimson;">
                    <strong style="width: 300px;">Failed!!</strong> Password reset failed.
                    <button (click)="closeError()" type="button" class="btn-close" data-dismiss="alert"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form class="form" #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit();userForm.reset()">



                    <div *ngIf="otp.invalid && otp.touched">
                        <small style="color: brown;" class="error">OTP mailed required </small>
                    </div>

                    <div class="form-group mt-3">
                        <input required type="text" class="form-control rounded-1" placeholder="OTP" required name="otp"
                            #otp="ngModel" [(ngModel)]="userModel.otp">
                    </div>


                    <div *ngIf="password.invalid && password.touched">
                        <small style="color: brown;" class="error">Password required </small>
                    </div>

                    <div class="form-group mt-3">
                        <input required type="password" class="form-control rounded-1" placeholder="password" required
                            name="password" #password="ngModel" [(ngModel)]="userModel.password">
                    </div>

                    <div *ngIf="cpassword.errors?.pattern && cpassword.touched">
                        <small style="color: brown;" class="error">Password does not match</small>
                    </div>

                    <div class="form-group mt-3">
                        <input required type="password" class="form-control rounded-1" pattern="{{userModel.password}}"
                            placeholder="confirm password" required name="confirmpassword" #cpassword="ngModel"
                            [(ngModel)]="confirmpassword">
                    </div>


                    <div class="form-group mt-3">
                        <button [disabled]="userForm.form.invalid" type="submit"
                            class="btn btn-primary float-end">Reset Password</button>

                        <a class="nav-link float-start" routerLink="/login" routerLinkActive="active">Login</a>
                    </div>
                </form>
            </div>


        </div>

    </div>